*.bsa
Data/HearthFires.esm
Data/Dawnguard.esm
Data/Dragonborn.esm
*.txt
*.dat
Data/meta.ini
*.jpg
Data/Scripts.rar
Data/scripts/activemagiceffect.pex
Data/scripts/constructibleobject.pex
Data/scripts/enchantment.pex
Data/scripts/equipslot.pex
Data/scripts/faction.pex
Data/scripts/flora.pex
Data/scripts/form.pex
Data/scripts/combatstyle.pex
*.fxp
Data/sound/Voice/Processing/FonixData.cdf
Data/Skyrim.esm
*.DLSTRINGS
Data/Strings/Skyrim_English.ILSTRINGS
*.STRINGS
*.dds
Data/Update.esm
*.bik
Data/Strings/Update_English.ILSTRINGS