*.bsa
HearthFires.esm
Dawnguard.esm
Dragonborn.esm
*.txt
*.dat
meta.ini
*.jpg
Scripts.rar
scripts.zip
scripts/*.pex
*.fxp
sound/Voice/Processing/FonixData.cdf
Skyrim.esm
*.DLSTRINGS
Strings/Skyrim_English.ILSTRINGS
*.STRINGS
*.dds
Update.esm
*.bik
Strings/Update_English.ILSTRINGS
