*.bsa
HearthFires.esm
Dawnguard.esm
Dragonborn.esm
*.txt
*.dat
meta.ini
*.jpg
Scripts.rar
scripts.zip
scripts/activemagiceffect.pex
scripts/constructibleobject.pex
scripts/enchantment.pex
scripts/equipslot.pex
scripts/faction.pex
scripts/flora.pex
scripts/form.pex
scripts/combatstyle.pex
*.fxp
sound/Voice/Processing/FonixData.cdf
Skyrim.esm
*.DLSTRINGS
Strings/Skyrim_English.ILSTRINGS
*.STRINGS
*.dds
Update.esm
*.bik
Strings/Update_English.ILSTRINGS
